.app {
    padding-left: 10px;
}

.voice-container {
    border-radius: 5px;
    padding-top: 20px;
}

.voice-col-1 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.voice-col-2 {
    float: left;
    width: 50%;
    margin-top: 6px;
}
